.csv.container {
    height: auto;
}

.csv.images {
    height: 300px;
    width: 50%;
    display: flex;
}

.csv.scroll-buttons {
    height: 60%;
    margin: 10px;
    vertical-align: auto;
}

.csv.image-display {
    height: 100%;
    width: 300px;
}

.csv.options {
    height: 50px;
    width: 100%;
}

.csv.row {
    height: auto;
}

.controlled-checkbox.submit-btn {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.drag-drop.container {
    border-style: solid;
    border-color: gray;
    justify-content: center;
    height: auto;
}

.drag-drop.component {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.drag-drop.target {
    width: 50px;
    height: 50px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aquamarine;
    z-index: 200;
}

.sidebar-heading {
    font-size: 25pt;
    height: 10px;
    margin-bottom: 20px;
    width: 200px;
}

.sidebar.feed {
    height: 30px;
    width: 200px;
    z-index: 200;
    margin-top: 50px;
}

.sidebar.picture {
    height: 30px;
    width: 200px;
    z-index: 200;
    margin-top: 80px;
}

.sidebar.profile {
    height: 30px;
    width: 200px;
    z-index: 200;
    margin-top: 110px;
}

.sidebar.landing {
    height: 30px;
    width: 200px;
    z-index: 200;
    margin-top: 140px;
}

.sidebar.devpeek {
    height: 30px;
    width: 200px;
    z-index: 200;
    margin-top: 170px;
}

.sidebar.hidden {
    height: 30px;
    z-index: 200;
    margin-top: 80px;
}

.sidebar-option {
    padding: 0.1rem;
    padding-left: 0.5rem;
    border-top: solid;
    border-bottom: solid;
    border-color: gray;
    margin: -4px;
}

.canvas.main {
    background-color: black;
}

.tf-cnn.gif {
    height: 40vh;
    margin: 1rem;
}